<footer>
  <div class="info">
    <div class="logo-footer">
      <img src="../../../assets/chevrolet-logo.webp" alt="Chebrolet Logo">
    </div>
    <div class="slogan">FIND NEW ROADS</div>
    <div class="social-media">
      <div class="follow-us">SÍGUENOS</div>
      <div class="social-media-icons">
        <a href="https://www.chevrolet.com.mx/"><img src="../../../assets/social_media_icons/facebook.png" alt="Facebook"></a>
        <a href="https://www.chevrolet.com.mx/"><img src="../../../assets/social_media_icons/x.png" alt="X" class="big-icon"></a>
        <a href="https://www.chevrolet.com.mx/"><img src="../../../assets/social_media_icons/instagram.png" alt="Instagram" class="big-icon"></a>
        <a href="https://www.chevrolet.com.mx/"><img src="../../../assets/social_media_icons/youtube.webp" alt="Youtube"></a>
      </div>
    </div>
  </div>

  <div class="pages">
    <a routerLink="/">Inicio</a>
    <a routerLink="/vehiculos">Vehiculos</a>
    <a routerLink="/servicio">Servicio</a>
    <a routerLink="/cotizacion">Cotizaciones</a>
  </div>

  <div class="terms">
    <div class="terms-links">
      <a routerLink="/">Términos y condiciones</a>
      &nbsp;|&nbsp;
      <a routerLink="/">Política de privacidad</a>
    </div>
    <p>Todos los derechos reservados - 2023</p>
  </div>
</footer>