<section class="wrapper">
  <div class="form-header">
    <a routerLink="/vehiculos"><span class="material-symbols-outlined">arrow_back</span></a>
    <h3>Editar vehículo</h3>
  </div>
  <form (ngSubmit)="onSubmit()" #formEditarVehiculo="ngForm">

    <app-custom-input 
      inputType="text"
      inputLabel="Nombre" 
      inputName="nombre" 
      maxChar="20"
      [ngModelProperty]="vehiculo.nombre" 
      (ngModelPropertyChange)="vehiculo.nombre = $event"
      [letterValidation]="true"
    >
    </app-custom-input>

    <app-custom-input 
      inputType="text"
      inputLabel="Modelo" 
      inputName="modelo" 
      maxChar="10"
      [ngModelProperty]="vehiculo.modelo" 
      (ngModelPropertyChange)="vehiculo.modelo = $event"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="select"
      inputLabel="Color" 
      inputName="color"
      [ngModelProperty]="vehiculo.color" 
      (ngModelPropertyChange)="vehiculo.color = $event"
      [array]="colores"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="select"
      inputLabel="Clasificación" 
      inputName="clasificacion"
      [ngModelProperty]="vehiculo.clasificacion" 
      (ngModelPropertyChange)="vehiculo.clasificacion = $event"
      [array]="clasificaciones"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="select"
      inputLabel="Transmisión" 
      inputName="transmision"
      [ngModelProperty]="vehiculo.transmision" 
      (ngModelPropertyChange)="vehiculo.transmision = $event"
      [array]="transmisiones"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="text"
      inputLabel="Motor" 
      inputName="motor"
      maxChar="15"
      [ngModelProperty]="vehiculo.motor" 
      (ngModelPropertyChange)="vehiculo.motor = $event"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="text"
      inputLabel="Cilindraje" 
      inputName="cilindraje"
      maxChar="2"
      [ngModelProperty]="vehiculo.cilindraje" 
      (ngModelPropertyChange)="vehiculo.cilindraje = $event"
      [numberValidation]="true"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="text"
      inputLabel="Precio" 
      inputName="precio"
      maxChar="10"
      [ngModelProperty]="vehiculo.precio" 
      (ngModelPropertyChange)="vehiculo.precio = $event"
      [numberValidation]="true"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="file"
      inputLabel="Imagen" 
      inputName="imagen" 
      (selectedFileChange)="selectedFile = $event"
    >
    </app-custom-input>

    <input type="submit" value="Actualizar vehículo">
    
  </form>
</section>