@import 'src/styles.scss';

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    font-size: 16px;
    background-color: transparent;
  }

  input[type="file"] {
    border: none;
    padding: 0;
  }

}