<section class="wrapper">
  <div class="form-header">
    <a routerLink="/vehiculos"><span class="material-symbols-outlined">arrow_back</span></a>
    <h3>Registrar vehículo</h3>
  </div>
  <form (ngSubmit)="onSubmit()" #formAgregarVehiculo="ngForm">

    <app-custom-input 
      inputType="text"
      inputLabel="Nombre" 
      inputName="nombre" 
      maxChar="20"
      [ngModelProperty]="vehiculoModel.nombre" 
      (ngModelPropertyChange)="vehiculoModel.nombre = $event"
      [letterValidation]="true"
    >
    </app-custom-input>

    <app-custom-input 
      inputType="text"
      inputLabel="Modelo" 
      inputName="modelo" 
      maxChar="10"
      [ngModelProperty]="vehiculoModel.modelo" 
      (ngModelPropertyChange)="vehiculoModel.modelo = $event"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="select"
      inputLabel="Color" 
      inputName="color"
      [ngModelProperty]="vehiculoModel.color" 
      (ngModelPropertyChange)="vehiculoModel.color = $event"
      [array]="colores"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="select"
      inputLabel="Clasificación" 
      inputName="clasificacion"
      [ngModelProperty]="vehiculoModel.clasificacion" 
      (ngModelPropertyChange)="vehiculoModel.clasificacion = $event"
      [array]="clasificaciones"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="select"
      inputLabel="Transmisión" 
      inputName="transmision"
      [ngModelProperty]="vehiculoModel.transmision" 
      (ngModelPropertyChange)="vehiculoModel.transmision = $event"
      [array]="transmisiones"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="text"
      inputLabel="Motor" 
      inputName="motor"
      maxChar="15"
      [ngModelProperty]="vehiculoModel.motor" 
      (ngModelPropertyChange)="vehiculoModel.motor = $event"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="text"
      inputLabel="Cilindraje" 
      inputName="cilindraje"
      maxChar="2"
      [ngModelProperty]="vehiculoModel.cilindraje" 
      (ngModelPropertyChange)="vehiculoModel.cilindraje = $event"
      [numberValidation]="true"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="text"
      inputLabel="Precio" 
      inputName="precio"
      maxChar="10"
      [ngModelProperty]="vehiculoModel.precio" 
      (ngModelPropertyChange)="vehiculoModel.precio = $event"
      [numberValidation]="true"
    >
    </app-custom-input>

    <app-custom-input  
      inputType="file"
      inputLabel="Imagen" 
      inputName="imagen" 
      (selectedFileChange)="selectedFile = $event"
    >
    </app-custom-input>

    <input type="submit" value="Registrar vehículo">

  </form>
</section>