<a routerLink="/vehiculos" class="ad">
    <img src="../../../assets/ads/ad1.avif" alt="Anuncio principal">
</a>

<section class="wrapper">

    <div class="welcome">
        <h1>Bienvenido a Chevrolet</h1>
        <p>¿Qué buscas el día de hoy?</p>
    </div>

    <div class="wrapper-cards">
        <div class="service-card">
            <span class="material-symbols-outlined">car_rental</span>
            <p class="title">Vehículos</p>
            <p class="description">Adquiere un vehículo de nuestra amplia gama, elige el que más se ajuste a tus necesidades.</p>
            <a routerLink="/vehiculos">Ir ahora</a>
        </div>
    </div>

    <div class="wrapper-cards">
        <div class="service-card">
            <span class="material-symbols-outlined">car_repair</span>
            <p class="title">Servicio</p>
            <p class="description">¿Presentas alguna falla? ¡No te preocupes!, registra tu cita ahora para acudir a nuestro servicio.</p>
            <a routerLink="/servicio">Ir ahora</a>
        </div>
    </div>

    <div class="wrapper-cards">
        <div class="service-card">
            <span class="material-symbols-outlined">request_quote</span>
            <p class="title">Cotización</p>
            <p class="description">¿Deseas adquirir tu nuevo vehículo Chevrolet con un plan perfecto para ti? Visita nuestro formulario de cotizaciones para ver cómo podemos ayudarte.</p>
            <a routerLink="/cotizaciones">Ir ahora</a>
        </div>
    </div>
</section>

<a routerLink="/vehiculos" class="ad">
    <img src="../../../assets/ads/ad2.avif" alt="Anuncio principal">
</a>
